body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#person_animation {
  height: 100px;
  width: auto;
  vertical-align: baseline;
  position: fixed;
  top: 2.3em;
  left: 50%;
}
